.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
footer{
    margin-bottom:1px;
    color:white;
    box-shadow: inset 1px -1px 3px 0px #0b191903;
    background: rgba(23, 124, 120, 0.77);
    height:50px;
    padding-top:15px;
    padding-bottom: 15px;
    
    }
    .card {
        background:url("/assets/images/pic12.jpg");
        background-size: cover;
        background-repeat: no repeat;
        
    }
    .card-body{
        background: white;
    }
input{
    border: 1px solid #d9d9d9;
    height:38px;
    padding: 13px;
}