
<body>
  <div class="slider">
        <div id="demo" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/images/pic2.jpg" alt="Los Angeles" width="1100" height="500">
              <div class="carousel-caption">
                <h1 class="text-center text-danger" style="margin-top:20px;margin-bottom:20px;">Exams Will Be Nice To You, If You Will Be Nice To Yourself!</h1>
                <a class="btn btn-warning btn-lg btn-animation text-center mt-sm-2" routerLink="/join" role="button" style="font-size:30px;">Join Us</a>
               
              </div>   
            </div>
           
            
              <div class="carousel-item">
                  <img src="../assets/images/pic6.jpg" alt="Chicago" width="1100" height="500">
                  <div class="carousel-caption">
                      <h2 class="text-center text-primary">We Do What We Have To, So We Can Do, What We Want To!</h2>
                   
                  </div>   
                </div>
                <div class="carousel-item">
                  <img src="../assets/images/5.jpg" alt="Chicago" width="1100" height="500">
                  <div class="carousel-caption">
                      <h1 class="text-center text-success">Education Is What Survives, When What Has Been Learned Has Been Forgotten! </h1>
                   
                  </div>   
                </div>
                <div class="carousel-item">
                  <img src="../assets/images/pic5.jpg" alt="Chicago" width="1100" height="500">
                  <div class="carousel-caption">
                      <h2 class="text-center text-info ">Efforts And Courage Are Not Enough, Wthout Purpose And Direction!</h2>
                    
                  </div>   
                </div>
                
                <div class="carousel-item">
                  <img src="../assets/images/pic4.jpg" alt="Chicago" width="1100" height="500">
                  <div class="carousel-caption">
                      <h1 class="text-center text-danger">The Only Way To Learn Knowledge, Is To Do Read Books!</h1>
                   
                  </div>   
                </div>
               
                  </div>
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
</div>
<!-- Footer -->
<footer >

    <!-- Copyright -->
    <div class="footer-copyright text-center ">© 2018 Copyright
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  </body>
